<!DOCTYPE html>
<html>
  <head>
    <title>Graduation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <% unless move_flash_messages? %>
     <%= render 'layouts/alerts' %>
    <% end %>
    <%= yield %>
  </body>
</html>
